

.login-title {
    font-size: 2.5rem;      
    color: #3b82f6;        
    margin-bottom: 1.5rem;  /* Adds some space below */
    text-align: center;
  }
  
.login-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid yellow;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .login-button {
    width: 90%;
    padding: 0.5rem;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-text {
    margin-top: 1rem;
    text-align: center;
  }